{% extends 'base.html' %}
{% block title %} Home {% endblock title %}

{% block body %}

  </table><table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Sl.no</th>
        <th scope="col">Event</th>
        <th scope="col">Date and Time</th>
        <th scope="col">Platform</th>
        <th scope="col">Max</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Webinar on G-tech</td>
        <td>1st June,5.00pm</td>
        <td>Google meet</td>
        <td>100</td>
      </tr>
  
    </tbody>
  </table>
{% endblock body %}