{% extends 'base.html' %}
{% block title %} login page{% endblock title %}
{% block body %}

<div class="container pt-3">
<div class="card my-3 ">
  <div class="card-body">
    <form action="/" method="POST">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" name="uname" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password"  name="pswd" class="form-control" id="exampleInputPassword1">
      </div>
      <button type="submit" class="btn btn-primary">register</button>
<br><br>
      <a href="/">already have an acc? login</a>
    </form>
  </div>
</div>
</div> 
{% endblock body %}